{% extends 'base.html' %}
{% load static %}

{% block body_content %}
<html>
<p class = 'container'> employee : {{ email }}
</p>
<div class = 'container'>
<div class = 'col-8'>
<form method="post" novalidate>
  {% csrf_token %}

<table class="table">
<thead class="table thead-dark"><tr>
<th scope="col" >employee</th>
<th scope="col">type</th>
<th scope="col" >status</th>
</tr></thead>
{% for item in leaves %}
    <tr>
    <td>{{ item.emp }}</td> 
    <td>{{ item.LEave_type }}</td>
    <td>{{item.status}}</td>
    </tr>
  {% endfor %}
  </form>
</div>
</div>
</br>
  
<div class ='container'><a class="btn btn-primary" href="/OA/emp/{{emp.id}}/newleave">Create Leave</a><div>

</html>
 {% endblock %}
